@page "/fetchdata"

@using NoMoreException.Services
@using BusinessLayer.Dtos
@using NoMoreException.Controllers
@inject CommentController commentController

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Text</th>
                <th>Text</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>@forecasts.Id</td>
                <td>@forecasts.AttachmentNr</td>
            </tr>
            forecasts*@
         
            <tr>
                <td>@forecasts.Id</td>
                <td>@forecasts.User.Username</td>
            </tr>
       
        </tbody>
    </table>
}

@code {
    private CommentDto forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await commentController.GetComment(3);
    }
}
