@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS
@attribute [Authorize]
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<AuthorizeView>
    <Authorized>
        <div class="display-4">You are logged in</div>
    </Authorized>
    <NotAuthorized>
        <div class="display-4">Please login</div>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <div class="display-4">You are Admin</div>
</AuthorizeView>

<AuthorizeView Roles="User">
    <div class="display-4">You are a User</div>
</AuthorizeView>


