@page "/login"
@inject NavigationManager NavigationManager
@using BusinessLayer.Dtos
@inject UserController controller
@using NoMoreException.Data


            <div class="container body-height" >
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">
                            <div class="brand_logo_container">
                                <img src="" class="brand_logo" alt="Logo">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center form_container">
                            <form>

                                <EditForm Model="@User">
                                    <DataAnnotationsValidator />
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <InputText class="form-control input_user" @bind-Value="User.Username" placeholder="username" />
                                        <ValidationMessage For="@(() => User.Username)" />
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <InputText @bind-Value="User.Password" type="password" class="form-control input_pass" placeholder="password" />
                                        <ValidationMessage For="@(() => User.Password)" />
                                    </div>
                                </EditForm>
                                @*<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                                    </div>
                                </div>*@
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <button class="btn login_btn" @onclick="LoginUserRequest">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

@code {

    private UserDto User = new UserDto();

    private async Task LoginUserRequest()
    {
        await ServiceProvider.Get<AuthUserService>().LoginAsync(User);
        StateHasChanged();
        NavigationManager.NavigateTo("mainpage");
    }
}