@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.body-height{
    margin-top:10%;
}
@media (max-width: 768px) {
    .body-height {
        margin-top: 45%;
    }
}

    .content {
        padding-top: 1.1rem;
    }

    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

.userimage {
    margin-top:6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.Row {
    display: inline-block;
    border-spacing: 5pt;
}

.Col {
    display: inline-block;
}

.TopLeft {
    height: 30pt;
    width: 30pt;
    align-items: left;
}

.TopCenter {
    height: 100%;
    width: 80%;
    text-align: left;
    vertical-align: top;
}


.MiddleRight {
    text-align: right;
    align-items: right;
    vertical-align: middle;
}

.BottomLeft {
    text-align: left;
    align-items: left;
    vertical-align: bottom;
}

.BottomCenter {
    text-align: center;
    align-items: left;
    vertical-align: bottom;
}

.BottomRight {
    height: 30pt;
    width: 30pt;
    border: 1pt solid blue;
    text-align: right;
    align-items: right;
    vertical-align: right;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.tag {
    border-radius: 5pt;
    padding: 4px;
}

    .tag.lb {
        background-color: #e8ecf4 !important;
        color: #66c0ed !important;
    }

    .tag.b {
        background-color: #0062cc !important;
        color: white !important;
    }

    .tag.g {
        background-color: #28a745 !important;
        color: white !important;
    }

    .tag.grey {
        background-color: #6c757d !important;
        color: white !important;
    }

.postfooter {
    border-radius: 5pt;
    margin-top: 20px;
    background-color: #e8ecf4 !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
    .postfooter > div {
        color: #66c0ed !important;
    }

.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 25px;
    width: 12px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
    text-align: center !important;
    align-items: center;
}

.up:disabled, .down:disabled, .up:disabled:hover, .down:disabled:hover {
    color: lightgrey;
}